<html>
  <head>
    <meta charset="utf-8">
    <title>cars DISPLAY</title>
<style>
form{


  font-size: 20px;
}
</style>
  </head>
  <body align=center bgcolor="pink">
    <form method="post" action="/review">
    <a href="/"align=center>HOME</a>
    <h1>{{message}}</h1>
  
    <h2 align="center"><u>Review<i></i></u></h2><br>
    Select EV:<select name = "evName1">
      {% for ev in all_keys%}
      <option value="{{ev.id()}}"> {{ev.id()}} </option>
      {% endfor%}
    Review:<textarea name="rvUserreview" rows="8" cols="80" maxlength="1000">Enter your review here</textarea>
    Ratings:<select name="rvRating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>

    </select>
    <input type="submit" name="button" value="Add Reviews">


    <table border= 1px solid #ddd align=center>
      <th>LIST OF EVs</th>
      <th>Reviews</th>
      <th>Ratings</th>
        {% for ev in all_rv_keys %}

        <tr>
        <td align="center"><b>{{ev.rvName}}</b></td><td align="center"> {{ev.rvUserreview}}</td><td align="center"> {{ev.rvRating}}</td>
        </tr>
        {% endfor %}

      </table>
  </form>

    </body>
    </html>
